torch==1.13.0 
torchvision==0.14
transformers==4.25.1
diffusers==0.20.2
datasets
wandb
scikit-learn
ftfy
ollama
accelerate
nvitop
einops
pytorch_msssim
compressai
opencv-python
scikit-image
bm3d
numpy==1.26.4
git+https://github.com/openai/CLIP.git
seaborn